.visually-hidden   {
    visibility: hidden;
}
#wrapper-2{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#wrapper-1{
    font-size:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
body{
    background-color:rgb(195, 36, 171);
    color:rgb(237, 197, 137);
}
#kick, #feed {
    color:rgb(237, 197, 137);
    background-color: blueviolet;
    font-size:30px;
    border: 5px solid black;}
.cat-number{
    font-size:30px;
}
.wrapper-but{
    margin:10px;
}
#button-start{
    color:rgb(237, 197, 137);
    background-color: blueviolet;
    font-size:30px;
    border: 5px solid black;
    transition: transform 0.3s;}
#button-start:hover {
    transform: translateY(-5px);
}